@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
    margin: 0;
}

body {
    font-family: Inter, system-ui, sans-serif;
}


aside#intro-aboutme {
    display: flex;
    width: 300px;
    margin-left: 100px;
    background: #051c3f;
    position: fixed;
    /* background: #040c18; */
    height: 100vh;
    box-shadow: inset 0px 0 30px #161616;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    background: #051c3f;
    position: fixed;
    /*    background: #040c18; */
    width: 100px;
    z-index: 99;
    box-shadow: inset 0px 1px 9px #101010;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

section {
    background: linear-gradient(45deg, #ffffff, #ffffff);
    height: 100vh;
}

section {
    top: 8%;
    right: 0;
    position: relative;
    margin-left: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

section div {
    width: 80%;
}

i.fa-solid {
    font-size: 3em;
    color: #FF9800;
    text-shadow: none;
    /* text-shadow: 1px 4px #00000073; */
    margin-bottom: 10px;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-weight: 200;
    text-shadow: 6px 17px 35px #000000;
    justify-content: space-evenly;
}

header nav {
    height: 100%;
    margin: 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

div#intro {
    width: 90%;
    text-align: center;
}

#intro h1 {
    color: #ff9800;
    font-family: Inter, system-ui, sans-serif;
}

#intro h2 {
    font-size: 2em;
    color: #ffffff;
    font-family: Inter, system-ui, sans-serif;
    letter-spacing: 2;
    font-weight: 900;
}

#intro h3 span {
    background: red;
    padding: 4px;
}

#intro div span {
    margin: 1px;

    background: #ff9800;
    padding: 9px;
    font-weight: 600;
    box-shadow: inset 0px 0px 0px #999999;
    border-right: 4px solid #f77e00;
    color: white;
    border-bottom: 4px solid #f77e00;
    border-radius: 3px;
}

#intro div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    align-content: center;
    flex-direction: row;
}

#intro span {
    color: gray;
    font-weight: 200;
}

#intro p {
    color: gray;
}

div#intro a {
    margin: 17px;
    color: #051c3f;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background: #ffffff;
    display: inline-block;
}

#intro button {
    background: white;
    border: 0;
    margin: 13px 1px;
    color: #051c3f;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}